<%- include("include/_header") -%>
  <%if(!locals.user || !locals.user.member){%>
    <main>
      <h1 class="fs-4 p-4">
        <i class="fas fa-exclamation-triangle text-danger"></i>
        <%if(!locals.user){%>
          <a href="/sign-up" class="text-decoration-none">Sign Up</a>
          <span>or</span>
          <a href="/log-in" class="text-decoration-none">Log In</a>
          <span>and Become a Member to see Messages</span>
          <%} else if(!locals.user.member){ %>
            <a href="/member" class="text-decoration-none">Become a Member</a>
            <span>to Create Messages</span>
            <%}%>
      </h1>
      <% }%>
        <%if(messages.success){%>
          <div class=" text-center p-4 bg-warning lh-large d-flex flex-wrap align-items-center justify-content-center
        <%= locals.user.member ? 'my-3' : 'my-0' %>" style="color: rgba(215,18,166,1); row-gap: .25rem;">
            <h2 class="text-dark m-0 fs-3">Welcome to the Speakeasy</h2>
            <div class="d-flex align-items-center justify-content-center fs-3">
              <span>&nbsp</span>
              <div class="avatar-wrapper small always me-1">
                <div class="avatar small" style="background-image: 
                url(
                <%=user.avatarURL%>); background-color: white;
                ">
                </div>
              </div>
              <span>
                <%=user.username%>
              </span>
              <span class=" text-dark">!</span>
            </div>
          </div>
          <%}%>
            <%if(msg !="" ){%>
              <h1 class="fs-4 p-4">
                <i class="fas fa-heart fs-5 text-danger beat"></i>
                <span>
                  <%=msg%>
                </span>
                <span>Write Your First</span>
                <a href="/message" class="text-decoration-none">Message!</a>
              </h1>
              <%}%>
                <section class="container p-5 px-5 py-3">
                  <% if (posts !="" ) { %>
                    <% posts.forEach((post)=> {%>
                      <div class="card mb-3 text-white bg-dark m-auto" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4 p-3 d-md-flex align-items-center image-section 
                    ">
                            <div class="avatar-wrapper big
                      ">
                              <div class="avatar big 
                      <%=locals.user ? messages.success ? " reveal" : "show" : " blur" %>"
                                style="background-image:
                                url(
                                <%=post.user.avatarURL%>); background-color: white;
                                  "
                                  >
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body d-flex flex-column h-100">
                              <div class="d-flex align-items-center">
                                <h5 class="card-title fs-3 py-2 text-sm-start">
                                  <%=post.title%>
                                </h5>
                                <div class="ms-auto d-flex align-items-center">
                                  <%if(post.user.admin){%>
                                    <div class="d-flex align-items-start gap-2">
                                      <i class="fab fa-keycdn text-warning fs-5"></i>
                                      <span class="text-warning">Admin</span>
                                    </div>
                                    <%}%>
                                      <%if(post.pinned==true ){%>
                                        <i class="fa-solid fs-5 text-white
                                        fa-thumbtack"></i>
                                        <%}%>
                                          <%if(locals.user.admin){%>
                                            <a class=" delete" href=<%=`/message/delete/${post._id}` %>
                                              >
                                              <i class="far fa-trash-alt fs-5 p-2 text-danger"
                                                style="cursor: pointer;"></i>
                                            </a>
                                            <%}%>
                                </div>
                              </div>
                              <div>
                                <p class="card-text mb-4 <%=locals.user ? messages.success ? " reveal" : "show"
                                  : " blur" %>
                                  ">
                                  <%= locals.user ? post.body
                                    : 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur laboriosam optio nisi vitae molestiae distinctio voluptatum blanditiis voluptate quis dignissimos.'
                                    %>
                                </p>
                              </div>
                              <div
                                class="align-items-center border border-bottom-0 border-end-0 border-secondary border-start-0 card-text d-flex flex-wrap justify-content-between mt-auto mt-autp pt-2">
                                <div class="align-items-center d-flex my-2 flex-wrap gap-1">
                                  <div class="avatar-wrapper small">
                                    <div class="avatar small" style="background-image:
                              url(
                              <%=post.user.avatarURL%>); background-color: white;
                                ">
                                    </div>
                                  </div>
                                  <div class="bg-danger fw-light my-1 px-3 py-2 rounded-pill"
                                    style=" background-color: none;">
                                    <strong class='<%=locals.user ? messages.success ? " reveal" : "show" : " blur"
                                %>'>
                                      <%= locals.user ? post.user.username : 'hadwareStoreGuy420' %>
                                    </strong>
                                  </div>
                                </div>
                                <small class="my-1 ps-2 text-muted">
                                  <%=post.date%>
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%})%>
                        <%}%>
                </section>
    </main>
    <%- include("include/_footer") -%>